[package]
name = "eis-utils"
version = "0.2.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hyper = "0.14"
tokio = { version = "1", features = ["full", "rt-multi-thread"] }
hyper-timeout = "0.4"
chrono = "0.4.19"
percent-encoding = "2.1.0"
base64 = "0.13.0"
url = "2.2.2"
log = "0.4"
http-common = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "http-common", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-identity-client-async = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-identity-client-async", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-identity-common = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-identity-common", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-identityd-config = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-identityd-config", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-identity-common-http = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-identity-common-http", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-keyd-config = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-keyd-config", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-key-client-async = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-key-client-async", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-key-common = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-key-common", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-key-common-http = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-key-common-http", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-cert-client-async = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-cert-client-async", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-cert-common = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-cert-common", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-certd-config = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-certd-config", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
aziot-cert-common-http = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "aziot-cert-common-http", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
env_logger = "0.8"

[dev-dependencies]
async-trait = "0.1"
serde = { version = "1", features = ["derive"] }
http = "0.2"
futures-util = "0.3"
serde_json = "1"
config-common = { git = "ssh://git@github.com/Azure/iot-identity-service.git", package = "config-common", rev = "6af42eefc84351ec7af510213561a40948ed9045" }
toml = "0.5"
tokio-test = "*"
lazy_static = "1.4.0"
regex = "*"
